# -----------------------------------------------------------------------------
# Application BASE URL
# For production, set to your domain, e.g. https://example.com
# For development, set to http://localhost:8787 or any other port
# -----------------------------------------------------------------------------
NEXT_PUBLIC_BASE_URL="http://localhost:8787"

# -----------------------------------------------------------------------------
# Configurations
# -----------------------------------------------------------------------------
# Disable image optimization, check out next.config.ts for more details
# -----------------------------------------------------------------------------
DISABLE_IMAGE_OPTIMIZATION=false

# -----------------------------------------------------------------------------
# Analytics
# -----------------------------------------------------------------------------
# Google Analytics (https://analytics.google.com)
# -----------------------------------------------------------------------------
NEXT_PUBLIC_GOOGLE_ANALYTICS_ID=""
# -----------------------------------------------------------------------------
# Umami Analytics (https://umami.is)
# -----------------------------------------------------------------------------
NEXT_PUBLIC_UMAMI_WEBSITE_ID=""
NEXT_PUBLIC_UMAMI_SCRIPT="https://cloud.umami.is/script.js"
# -----------------------------------------------------------------------------
# OpenPanel Analytics (https://openpanel.dev)
# -----------------------------------------------------------------------------
NEXT_PUBLIC_OPENPANEL_CLIENT_ID=""
# -----------------------------------------------------------------------------
# Plausible Analytics (https://plausible.io)
# -----------------------------------------------------------------------------
NEXT_PUBLIC_PLAUSIBLE_DOMAIN=""
NEXT_PUBLIC_PLAUSIBLE_SCRIPT="https://plausible.io/js/script.js"
# -----------------------------------------------------------------------------
# Ahrefs Analytics (https://ahrefs.com)
# -----------------------------------------------------------------------------
NEXT_PUBLIC_AHREFS_WEBSITE_ID=""
# -----------------------------------------------------------------------------
# Seline Analytics
# -----------------------------------------------------------------------------
NEXT_PUBLIC_SELINE_TOKEN=""
# -----------------------------------------------------------------------------
# DataFast Analytics (https://datafa.st)
# -----------------------------------------------------------------------------
NEXT_PUBLIC_DATAFAST_WEBSITE_ID=""
NEXT_PUBLIC_DATAFAST_DOMAIN=""
# -----------------------------------------------------------------------------
# PostHog Analytics (https://posthog.com)
# -----------------------------------------------------------------------------
NEXT_PUBLIC_POSTHOG_KEY=""
NEXT_PUBLIC_POSTHOG_HOST=""
# -----------------------------------------------------------------------------
# Clarity Analytics (https://clarity.microsoft.com)
# -----------------------------------------------------------------------------
NEXT_PUBLIC_CLARITY_PROJECT_ID=""
